@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-main-bg: #0f121b;
  --color-primary: #69c9f3;
  --color-primary-deep: #2f3183;
  --color-accent: #a855f7;
}

@custom-variant dark (&:is(.dark *));

* {
  font-family: "Almarai", sans-serif;
}

.glass-border {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2) inset;
}

body {
  background-color: var(--color-main-bg);
  color: white;
}